<style type="text/css">
.tg {
	border:none;
	border-collapse:collapse;
	border-color:#ccc;
	border-spacing:0;
	width: auto;
}
.tg td {
	background-color:#fff;
	border-color:#ccc;
	border-style:solid;
	border-width:0px;
	color:#333;
  	font-family:Arial, 
	sans-serif;font-size:14px;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}

.tg th{
	background-color:#f0f0f0;
	border-color:#ccc;
	border-style:solid;
	border-width:0px;
	color:#333;
  	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}

.tg .tg-buh4{
	background-color:#f9f9f9;
	text-align:left;
	vertical-align:top
}

.tg .tg-q2ov{
	border-color:#000000;
	font-family:Arial, Helvetica, sans-serif !important;;
	text-align:left;
	vertical-align:top
}

.tg .tg-fayo{
	background-color:#f9f9f9;
	border-color:#000000;
	font-family:Arial, Helvetica, sans-serif !important;;
	text-align:left;
  	vertical-align:top
}

.tg .tg-0lax{
	text-align:left;
	vertical-align:top
}

</style>
<table class="tg">

<tbody>
  <tr>
    <th class="tg-q2ov">2:00 - 2:10 pm</th>
    <th class="tg-q2ov">opening address</th>
  </tr>
  <tr>
    <td class="tg-fayo">2:10 - 2:55 pm</td>
    <td class="tg-fayo">Tackling Climate Change with Machine Learning <br> 
		David Rolnick, Mcgill University</td>
  </tr>
  <tr>
    <td class="tg-0lax">2:55 - 3:40 pm</td>
    <td class="tg-0lax">How new kinds of computer networks can reduce the environmental impact of cloud computing <br> 
		George Porter, University of California San Diego</td>
  </tr>
  <tr>
    <td class="tg-buh4">3:40 - 4:25 pm</td>
    <td class="tg-buh4">Computing, Limits, and Society 
		<br>Jay Chen, International Computer Science Institute, UC Berkeley</td>
  </tr>
  <tr>
    <td class="tg-0lax">4:25 - 4:45 pm</td>
    <td class="tg-0lax">break</td>
  </tr>
  <tr>
    <td class="tg-buh4">4:45 - 5:50 pm</td>
    <td class="tg-buh4">panel discussion</td>
  </tr>
  <tr>
    <td class="tg-0lax">5:50 - 6:00 pm</td>
    <td class="tg-0lax">closing remark</td>
  </tr>
</tbody>
</table>