
All the times are in Central European Summer Time (CEST), UTC+2.

<table class="schedule">
<tbody>
  <tr>
    <td>2:00 - 2:10 pm</td>
    <td>Opening address (by <strong>Prashant</strong>)</td>
  </tr>
  <tr>
    <td>2:10 - 2:55 pm</td>
    <td>Tackling Climate Change with Machine Learning 
		<br> David Rolnick, Mcgill University (by <strong>Prashant</strong>)</td>
  </tr>
  <tr>
    <td>2:55 - 3:40 pm</td>
    <td>How new kinds of computer networks can reduce the environmental impact of cloud computing 
		<br>George Porter, University of California San Diego (by <strong>Minghua</strong>)</td>
  </tr>
  <tr>
    <td>3:40 - 4:25 pm</td>
    <td>Computing, Limits, and Society 
		<br>Jay Chen, International Computer Science Institute, UC Berkeley (by <strong>Minghua</strong>)</td>
  </tr>
  <tr>
    <td>4:25 - 4:45 pm</td>
    <td>Break</td>
  </tr>
  <tr>
    <td>4:45 - 5:50 pm</td>
    <td>Panel discussion (by <strong>Keshav</strong>)</td>
  </tr>
  <tr>
    <td>5:50 - 6:00 pm</td>
    <td>Closing remark (by <strong>Keshav</strong>)</td>
  </tr>
</tbody>
</table>